:root {
  --background: #ffffff;
  --foreground: #111827;
  --card-background: #ffffff;
  --card-foreground: #111827;
  --primary-background: #111827;
  --primary-foreground: #ffffff;
  --secondary-background: #e5e7eb;
  --secondary-foreground: #111827;
  --muted-background: #f9fafb;
  --muted-foreground: #6b7280;
  --accent-background: #4f46e5;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --border: #d1d5db;
  --input: #d1d5db;
  --ring: #d1d5db;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
